name: Rust CI

on:
	push:
		branches:
			- main
	pull_request:
		branches:
			- main

jobs:
	lint-test:
		runs-on: ubuntu-latest

		steps:
			- name: Checkout repository
				uses: actions/checkout@v4

			- name: Install stable toolchain
				uses: dtolnay/rust-toolchain@stable
				with:
					components: rustfmt, clippy

			- name: Cargo fmt
				run: cargo fmt --all -- --check

			- name: Cargo clippy
				run: cargo clippy --all-targets --all-features -- -D warnings

			- name: Cargo build
				run: cargo build --all-targets --all-features

			- name: Cargo test
				run: cargo test --all-features
